.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #4C394E;

    &-bgc {
        display: flex;
        justify-content: space-between;
    }
    &-copyright, &-rights {
        display: inline-block;
        color: white;
    
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}



// .footer-bgc {
//     display: flex;
//     justify-content: space-between;
// }

// .footer-copyright,
// .footer-rights {
//     display: inline-block;
//     color: white;

//     font-size: 16px;
//     font-weight: 400;
//     line-height: 24px;


// }