.header {
    width: 100%;
    background-color: #10BBD5;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 5;

    &-section {
        align-items: center;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 52px;


        &__items {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-section_link {
                text-decoration: none;
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;

            }

            &-section_logo {
                margin-right: 5px;
            }

            &-purchase__div {
                display: flex;
                align-items: center;

                &-money-counter {
                    color: white;
                }

                &-basket {
                    border: none;
                    background-color: #10BBD5;

                }
            }
        }

    }

    &-nav {
        background-color: white;

        &__ul {
            display: flex;
            padding-top: 4px;
            padding-bottom: 4px;
            justify-content: space-between;

            &-bottom-div {
                display: flex;
                gap: 40px;
                margin-left: auto;

                &-links {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

}




// .header-logo-div {
//     text-decoration: none;
//     color: white;
//     font-size: 24px;
//     font-weight: 700;
//     line-height: 29px;


// }

// .header-logo-book-img {
//     margin-right: 5px;
// }

// .header-up-section {
//     display: flex;
//     align-items: center;
// }

// .header-purchase-div {
//     display: flex;
//     align-items: center;
// }

// .header-money-counter {
//     color: white;
// }

// .header-purchase-basket {
//     border: none;
//     background-color: #10BBD5;

// }


// .header-nav-bottom {

//     background-color: white;

// }

// .header-nav-ul {
//     display: flex;
//     padding-top: 4px;
//     padding-bottom: 4px;
//     justify-content: space-between;
// }

// .header-nav-bottom-links {
//     text-decoration: none;
//     color: black;
// }

// .header-nav-bottom-div {
//     display: flex;
//     gap: 40px;
//     margin-left: auto;

// }