.main {
    background-color: #EEEEEF;
    padding-top: 150px;

    &__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        border-bottom: 1px solid #A8A8A8;
        margin-bottom: 23px;
        padding-bottom: 23px;
    }
}

// .main-fixed-chat-button {
//     display: block;
//     width: 64px;
//     height: 64px;
//     border: none;

//     position: fixed;
//     top: 170px;
//     right: 32px;

//     background-image: url(../../images/Property\ 1=Default\ \(1\).png);

//     z-index: 3;

//     animation: example 2s forwards infinite;
//     animation-delay: 5s;

// }

// @keyframes example {
//     0% {
//       transform: rotate(0deg);
//     }
//     50% {
//       transform: rotate(30deg);
//     }
//     75% {
//         transform: rotate(-30deg);
//     }
//     100% {
//         transform: rotate(0deg);
//     }    
//   }

.final_offer {
    grid-area: final;
}

.it_ends_with_us {
    grid-area: ends;
}

.atomic_habits {
    grid-area: atomic;
}

.creative-act {
    grid-area: creative;
}

.spare {
    grid-area: spare;
}

.digital {
    grid-area: digital;
}

.meditations {
    grid-area: medita;
}

.emperor {
    grid-area: emperor;
}

.marcus {
    grid-area: marcus;
}

.stoics {
    grid-area: stoics;
}

.dopamine {
    grid-area: dopamine;
}

.therapy {
    grid-area: therapy;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 512px);
    grid-template-areas:
        "final ends atomic creative"
        "spare digital medita emperor"
        "marcus stoics dopamine therapy";
    gap: 13px;
    row-gap: 32px;
    padding-bottom: 120px;

    &-item {
        border: 1px solid #A8A8A8;
        width: 248px;
        height: 450px;
        padding: 32px;
        text-align: center;
        background-color: white;
        z-index: 1;

        &-link {
            text-decoration: none;
            color: black;
            position: relative;
        }

        &-title {
            display: flex;
            justify-content: start;
            padding-top: 16px;
            border-bottom: 1px solid #A8A8A8;
            padding-bottom: 5px;
            margin-bottom: 5px;

            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
        }

        &-author {
            display: flex;
            justify-content: start;
            color: #8E8E8E;
            font-size: 15px;
        }

        &-price {
            display: flex;
            justify-content: start;
            color: #E90000;

            font-size: 24px;
            font-weight: 500;
            line-height: 32px;

            margin-top: 8px;
            margin-bottom: 16px;
        }

        &-earlier-price {
            display: flex;
            color: #8E8E8E;

            font-size: 24px;
            font-weight: 500;
            line-height: 32px;

            text-decoration: line-through;
            margin-bottom: 7px;
        }

        &-button-onsale {
            width: 242px;
            height: 40px;
            background-color: #4C394E;
            border: none;
            border-radius: 5px;
        }

        &-button-onsale-link {
            color: white;
            text-decoration: none;

            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }




        &-hit {
            display: block;
            position: absolute;
            top: -266px;
            right: 210px;

            width: 36px;
            height: 32px;
            border-radius: 5px;
            border: none;
            background-color: #4200FF;
            color: white;
        }

        &-new {
            display: block;
            position: absolute;
            top: -266px;
            right: 210px;
        
            width: 36px;
            height: 32px;
            border-radius: 5px;
            border: none;
            background-color: #AF39E7;
            color: white;
        }
        
        &-off {
            display: block;
            position: absolute;
            top: -266px;
            right: 135px;
        
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        
            width: 70px;
            height: 32px;
            border-radius: 5px;
            border: none;
            background-color: #EA33C0;
            color: white;
        }
        
        &-button-endup {
            width: 242px;
            height: 40px;
            background-color: #4D762D;
            border: none;
            border-radius: 5px;
        }
    }

    &-prices {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}

// .main-grid-item {
//     border: 1px solid #A8A8A8;
//     width: 248px;
//     height: 450px;
//     padding: 32px;
//     text-align: center;
//     background-color: white;
//     z-index: 1;
// }

// .main-grid-item-link {
//     text-decoration: none;
//     color: black;
//     position: relative;
// }

// .main-grid-item-title {
//     display: flex;
//     justify-content: start;
//     padding-top: 16px;
//     border-bottom: 1px solid #A8A8A8;
//     padding-bottom: 5px;
//     margin-bottom: 5px;

//     font-size: 18px;
//     font-weight: 700;
//     line-height: 28px;

// }

// .main-grid-item-author {
//     display: flex;
//     justify-content: start;
//     color: #8E8E8E;
// }

// .main-grid-prices {
//     display: flex;
//     align-items: center;
//     gap: 24px;
// }

// .main-grid-item-price {
//     display: flex;
//     justify-content: start;
//     color: #E90000;

//     font-size: 24px;
//     font-weight: 500;
//     line-height: 32px;

//     margin-top: 8px;
//     margin-bottom: 16px;
// }

// .main-grid-item-earlier-price {
//     display: flex;
//     color: #8E8E8E;

//     font-size: 24px;
//     font-weight: 500;
//     line-height: 32px;

//     text-decoration: line-through;
//     margin-bottom: 7px;
// }

// .main-grid-item-button-onsale {
//     width: 242px;
//     height: 40px;
//     background-color: #4C394E;
//     border: none;
//     border-radius: 5px;
// }

// .main-grid-item-button-onsale-link {
//     color: white;
//     text-decoration: none;

//     font-size: 16px;
//     font-weight: 400;
//     line-height: 24px;
// }

// .main-grid-item-hit {
//     display: block;
//     position: absolute;
//     top: -266px;
//     right: 210px;

//     width: 36px;
//     height: 32px;
//     border-radius: 5px;
//     border: none;
//     background-color: #4200FF;
//     color: white;
// }

// .main-grid-item-new {
//     display: block;
//     position: absolute;
//     top: -266px;
//     right: 210px;

//     width: 36px;
//     height: 32px;
//     border-radius: 5px;
//     border: none;
//     background-color: #AF39E7;
//     color: white;
// }

// .main-grid-item-off {
//     display: block;
//     position: absolute;
//     top: -266px;
//     right: 135px;

//     font-size: 16px;
//     font-weight: 400;
//     line-height: 24px;

//     width: 70px;
//     height: 32px;
//     border-radius: 5px;
//     border: none;
//     background-color: #EA33C0;
//     color: white;
// }

// .main-grid-item-button-endup {
//     width: 242px;
//     height: 40px;
//     background-color: #4D762D;
//     border: none;
//     border-radius: 5px;
// }